body {
    margin: 0;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
}

h1 {
    font-family: Fantasy;
    text-align: center;
    margin-top: 40px;
    /* text-shadow: 4px 4px 2px  rgb(213, 213, 213); */
    background: -webkit-linear-gradient(#c1c1c1, rgb(0, 123, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
}

/* Navigate bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0px;
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 0, 0)100%, rgb(137, 0, 0));
    display: flex;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
  }
  
  li {
    display: flex;
    width: 400px;
    text-align: center;
    justify-content: center;
  }
  
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 400px;
    vertical-align: middle;
  }
  
  li a:hover:not(.active) {
    font-size: 25px;
    margin-top: -5px;
  }
  
  li a.active {
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
    margin-top: -5px;
  }

/* .img {
    max-width: 100%; 
    height: auto; 
} */

.container {
    display: flex;
/* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    align-items: center;
    justify-content: center !important;
    /* padding-left: 4%; */

    
}

.col-4 {
 /* Make elements inside the container behave like table cells */
    padding-bottom: 10px;
    width: 90%;
    height:auto;
    margin: 10px;
    margin-top: 20px;
    border-radius: 25px;

    
    
    
    
}
.col-4 p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: white;
    
}

.col-4:hover {
  scale: 1.1;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

.container a {
    display:block ; /* Change display to block to make margin work */
    margin-bottom: 30px; /* Add margin to the bottom */
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
  

}

.img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
    

}

.img img {
  border-radius: 50px;
  /* overflow: hidden; */
}



.img-bg{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(0, 96, 199), rgb(0, 0, 0));
    justify-content: center !important;
    
}



* {
    box-sizing: border-box;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    width: 100%;
    
  }

.flex-container > div {
    margin : 10px;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    padding-bottom: 30px;
    border-radius: 25px;
    width: 90%;
}

  

 @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      flex: 100%;
    }
    li{
      height: 50px;
    }
    li a{
      margin-top: 5px;
    }
    li a.active {
      border-bottom: solid white;
    }
}

@media (min-width: 800px) {
  .flex-container {
    flex-direction: row;
    flex: 100%;
  }
  li{
    height: 50px;
    width: 350px;
  }
  li a{
    margin-top: 5px;
  }
  li a.active {
    border-bottom: solid white;
  }
  .flex-container > div {
    width: 30%;
  }
  
}


@media (max-width: 1200px) {
  .flex-container {
    flex-direction: row;
    flex: 100%;
  }
  li{
    height: 50px;
    width: 300px;
  }
  li a{
    margin-top: 5px;
  }
  li a.active {
    border-bottom: solid white;
  }
}




.owl-carousel .owl-item img {
      margin-top: 20px;
      height: 350px;
      width: auto;
      max-width: 85%;
      position: relative;
      text-align: center;
}

.owl-stage {
  height: 550px;
  margin-top: 20px;
}


.owl-prev span,.owl-next span{
  font-size: 5rem;
  color: white;
}

.owl-prev{
  position: absolute;
  left: -3%;
  top:50%;
  transform: translateY(-50%);
  
}

.owl-next{
  position: absolute;
  right: -3%;
  top:50%;
  transform: translateY(-50%)
}

.owl-item {
  margin-right: 9.5px !important;
}
